
body {

    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    
}

#main-container {

    display: grid;
    height: 250vh;
    width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 5% 100rem;
    grid-template-areas: 
    'intro-body'
    'splitter'
    'main-body'
    ;

}

.splitter {

    grid-area: splitter;
    background-color: #230363;

}

#intro-body {

    grid-area: intro-body;
    background-image: url(/img/night\ sky\ 4k\ stars.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: 100vw;
    display: grid;
    width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
    'header'
    'intro-container'
    ;
}

#main-body {

    grid-area: main-body;

}

#intro-container {

    grid-area: intro-container;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
    'intro-text intro-empty'
    ;

}

#index-header {

    grid-area: header;

}

#intro-text {

    grid-area: intro-text;

}

#intro-empty {

    grid-area: intro-empty;

}

#nav-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5% 0 0 4%;

}

#nav-navigation {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 20px;

}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3vw;
    align-items: center;
    width: 100%;
    margin-top: -.5%;
}

#nav-logo {

    width: 75%;
    margin-left: -1%;
    border-radius: 50%;

}

#logo-block {

    width: 10%;
    margin-top: 1vh;

}

#nav-vertical-ruler {
    height: 100%;
    border-left: 1px solid #657180;
    margin: 0 3%;
    opacity: .2;
}

.nav-links {

    text-decoration: none;
    color: white;

}